{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<title>Upload new File</title>
<body>
  <h1>Upload new File</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Upload an image (optional):</label>
    <input type="file" name="file" id="file"><br><br>
    <label for="text_input">Enter your text:</label>
    <textarea name="text_input" id="text_input" rows="10" cols="50" placeholder="Enter your text here"></textarea><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

{% endblock %}